*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 60px;
    width: 100px;
}

.logo{
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid #fff;
}


.add_icon{
    display: flex;
    align-items: center;
}
.del_to{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.loc{
    color: #fff;
    font-size: 1rem;
    margin-left: 3px;
}

.nav_search{
    display: flex;
    justify-content:space-evenly;
    height: 40px;
    width: 60%;
    border-radius: 10px;
}
.nav_search:hover{
    border: 3px solid #febd68;
}
.search_select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;
}

.search_input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search_icon{
    background-color: #febd68;
    color: #0f1111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45px;
    font-size: 1.3rem;
}

.nav_lang{
    display: flex;
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.lang_icon img{
    height: 1rem;
    width: 1.5rem;
    background-size: cover;
    margin-top: 3px;
}
.lang_name{
    margin-left: 3px;
}
span{
    font-size: 0.7rem;
}
.nav_second{
    font-size: 0.85rem;
    font-weight: 700;
}

.nav_cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart_icon i{
    font-size: 28px;
}
.cart{
    margin-top: 12px;
}

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: start;
    align-items: center;
}
.panel_all{
    display: flex;
    margin-left: 15px;
}
.panel_all p{
    margin:3px 5px 0 6px ;
    font-size: 0.9rem;
    
}
.menu_icon{
    font-size: 1.25rem;
}
.panel_ops p{
    display: inline;
    margin-left: 15px;
}
.panel_ops{
    width: 70%;
    font-size: 0.9rem;
}
.panel_deals{
    font-size: 1rem;
    font-weight: 700;
    margin-left: 150px;
}


.hero_section{
    background-image: url("assets/hero_image.jpg");
    background-size: cover;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    animation: change 10s infinite ease-in-out;

}
@keyframes change{
    0%{
        background-image: url("assets/hero_image.jpg");
    }
    50%{
        background-image: url("assets/hero_image2.jpg");
    }
    100%{
        background-image: url("assets/hero_image3.jpg");
    }
}

.hero_msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    width: 97%;
    margin-bottom: 25px;
}

.hero_msg a{
    color: #007185;
    text-decoration: none;
}

.shop_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #e2e7e6 ;
    animation: colorch 10s infinite ease-in-out;
    flex-wrap: wrap;
}

@keyframes colorch{
    0%{
        background-color: #e2e7e6;
    }
    50%{
        background-color: #FFE972;
    }
    100%{
        background-color: #0F1012;
    }
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box_content{
    margin:  0 15px 0 15px;
}
.box_image{
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box_image img{
    height: 100%;
    width: 100%;
}
.box_showmore a{
    color: #007185;
    text-decoration: none;
}


.bnmsec{
    background-color: #e2e7e6;
    height: 300px;
}
.longbox{
    height: 280px;
    width: 97%;
    background-color: white;
    padding: 20px 0px 15px 2px;
    margin-top: 20px;
    margin-left: 17px;
}
.longbox h2{
    margin-bottom: 8px;
    margin-left: 12px;
}
/* .longbox div{
    height: 100%;
    width: 100%
} */
.books_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.books{
    height: 200px;
    width: 12%;
    margin-left: 15px;
    
}
.books img{
    height: 100%;
    width: 100%;
}


.footer{
    margin-top: 15px;
}
.foot_panel1{
    background-color: #36465a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot_panel2{
    background-color: #222f3d;
    color: white;
    height: 370px;
    display: flex;
    justify-content: space-evenly;
}
.foot_panel2 p{
    font-weight: 600;
}
ul{
    margin-top: 40px;
}
ul a{
    display: block;
    font-size : 0.85rem;
    margin-top: 13px;
    color: #dddddd;
}

.foot_panel3{
    background-color: #222f3d;
    height: 100px;
    border-top: 1px solid rgba(211, 211, 211, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("assets/amazon_logo.png");
    background-size: cover;
    height: 60px;
    width: 100px;
    margin-top: 10px;
}

.footinfo{
    margin-left: 90px;
    display: flex;
}
.foot_lang{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 20px;
}
.footlangen{
    margin-left: 10px;
}
.footborder{
    border: 0.5px solid white;
    padding: 10px 20px 10px 20px;
}
.foot_curr{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 20px;
}
.foot_country{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin-left: 20px;
}

.foot_panel4{
    height: 340px;
    background-color: #131a22;
    margin-top: 0;
    padding-top: 30px;
    display: flex;
    justify-content: center;
}
.panel4info{
    color: white;
    display: flex;
}
.panel4info ul{
    margin-top: 0px;
}
.panel4info ul p{
    font-size: 0.8rem;
}
.panel4info ul span{
    height: 25px;
    width: 120px;
    color: #999999;
    font-size: 0.8rem;
    opacity: 0.7;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.foot_panel5{
    height: 80px;
    background-color: #131a22;
    color: white;
    font-size: 0.7rem;
}
.pages{
    text-align: center;
}
.pages a{
    margin-left: 20px;
}
.copyright{
    text-align: center;
    padding-top: 10px;
}